<template name="goals">

    <h3>Enter GOAL:</h3>
    <input id="goal" type="text" />
    <input id="goalStartDate" type="date" />
    <input id="goalDeadline" type="date" />
    <input id="goalDescription" type="text" />
    <input id="addGoal" type="submit" value="Add Goal" />

    <h3>Goals!</h3>

    <table>
        <tr>
            <td><h3>Goal</h3></td>
            <td><h3>Start Date</h3></td>
            <td><h3>Deadline</h3></td>
            <td><h3>Description</h3></td>
            <td><h3>Goal ID</h3></td>
        </tr>
        {{#each goals}}
            <tr>
                <td>{{goal}}</td>
                <td>{{goalStartDate}}</td>
                <td>{{goalDeadline}}</td>
                <td>{{description}}</td>
                <td>{{_id}}</td>
                <td><input id="removeGoal" type="button" value="Remove this goal"/></td>
            </tr>
            {{> subGoals}}
        {{/each}}
    </table>
</template>