<template name="goals">
    <h1>Goals!</h1>
    {{#each goals}}
        <ul>
            <li><h3>Goal: <span>{{goal}}</span></h3></li>
            <li><h4>Description: <span>{{description}}</span></h4></li>
            <br>
            <l1><h4>SubGoals:</h4></l1>
            <h2><span>Get the SUBGOALS in here! :)</span></h2>
            <br>
            {{#each subGoals}}
                <ul>
                    <li>
                        <p><span>{{subGoal}}</span></p>
                    </li>
                </ul>
            {{/each}}
        </ul>
    {{/each}}
</template>