<template name="goals">
    <h3>Goals!</h3>
    {{#each goals}}
        <ul>
            <li><h4>Goal: {{goal}}</h4></li>
            <li><h5>Description: {{description}}</h5></li>
            <li><h5>Related User: {{relatedUser}}</h5></li>
            <br>
            {{#each subGoals}}
                <ul>
                    <li>
                        <p><span>{{subGoal}}</span></p>
                    </li>
                </ul>
            {{/each}}
        </ul>
    {{/each}}
</template>