<template name="measurementDefinitionAdd">

    <div id="measurementDefinitionAdd">

        {{#if measurementDefinitionExists this._id}}
            {{#each measurementDefinition this._id}}
                {{#unless beingEdited}}
                    <br>
                    <label>
                        <strong>MEASUREMENT</strong> defined by: {{measurementNoun}} {{measurementVerb}} per {{measurementPeriod}}
                    </label>
                    <br>
                    <br>
                    <button id="editMeasurementDefinition">Edit Measurement Definition</button>
                    <br>
                    <br>
                {{/unless}}
                {{#if beingEdited}}
                    <label>How are you going to measure this goal? E.g. 1000 Steps to be Taken per Day, 1 Book to be Read per Week, etc.</label>
                    <br>
                    <input id="measurementNumber{{_id}}" type="text" value="{{measurementNumber}}" />
                    <input id="measurementNoun{{_id}}" type="text" value="{{measurementNoun}}" />
                    <input id="measurementVerb{{_id}}" type="text" value="{{measurementVerb}}" />
                    <select id="measurementPeriod{{_id}}">
                        <optgroup label="Choose a time period">
                            <option id="day">Day</option>
                            <option id="week">Week</option>
                            <option id="month">Month</option>
                            <option id="year">Year</option>
                        </optgroup>
                    </select>
                    <button id="saveEditMeasurementDefinition">Save</button>
                    <button id="cancelEditMeasurementDefinition">Cancel</button>
                {{/if}}
            {{/each}}
        {{else}}
            <label>How do you measure this goal? E.g. Steps Taken per Day, Books Read per Week, etc.</label>
            <br>
            <input id="measurementNumber" type="text" placeholder="E.g. 2000" />
            <input id="measurementNoun" type="text" placeholder="E.g. Steps" />
            <input id="measurementVerb" type="text" placeholder="E.g. Taken" />
            <select id="measurementPeriod">
                <optgroup label="Choose a time period">
                    <option id="day">Day</option>
                    <option id="week">Week</option>
                    <option id="month">Month</option>
                    <option id="year">Year</option>
                </optgroup>
            </select>
            <input id="addMeasurementDefinition" type="button" value="Add MeasurementDefinition!" />
        {{/if}}

    </div>


</template>