<template name="subGoals">
    <p>Starting SUBGOALS Template for {{this._id}}</p>
    <p>Subgoals:</p>
    {{#each isOwner this._id}}
        <label>For Sub Goal ID: {{_id}}:</label>
        <ul>
            <li>Owner Goal Id: {{ownerGoalId}}</li>
            <li>Sub Goal: {{subGoal}}</li>
            <li>Sub Goal Start Date: {{subGoalStartDate}}</li>
            <li>Sub Goal End Date: {{subGoalEndDate}}</li>
            <li>Sub Goal Description: {{subGoalDescription}}</li>
        </ul>
        <button id="removeSubGoal">Remove this Sub Goal</button>
    {{/each}}

    <p>Add NEW SUBGOAL to "{{this.goal}}"?</p>
    <br>

    <table>
        <form id="subGoalForm">
            <tr>
                <td>
                    Owner Goal Id: <input id="ownerGoalId" type="text" value="{{this._id}}" readonly />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Sub Goal</label>
                    <input id="subGoal" type="text" />
                </td>
                <td>
                    <label>Sub Goal Description</label>
                    <input id="subGoalDescription" type="text" />
                </td>
            </tr>
            <tr>
                <td><label>Sub Goal Start Date</label>
                    <input id="subGoalStart" type="date" />
                </td>
                <td>
                    <label>Sub Goal End Date</label>
                    <input id="subGoalEnd" type="date" />
                </td>
            </tr>
            <tr>
                <td>
                    <input id="addSubGoal" type="submit" value="Add Sub Goal to {{this._id}}" />
                </td>

            </tr>
        </form>
    </table>
    <br>
    <p>----- Ending SUBGOALS TEMPLATE for {{this._id}}-----</p>

</template>