<template name="subGoals">
    <p>Starting SUBGOALS Template for {{this._id}}</p>
    <p>Subgoals:</p>
    {{#each subGoal}}
        <table>
            <tr id="{{_id}}">
                <td id="ownerGoalId" type="text">{{ownerGoalId}}</td>
                <td id="subGoal" type="text">{{subGoal}}</td>
                <td id="subGoalStart" type="date">{{subGoalStartDate}}</td>
                <td id="subGoalEnd" type="date">{{subGoalEndDate}}</td>
                <td id="subGoalDescription" type="text">{{subGoalDescription}}</td>
            <tr></tr>
            </tr>
        </table>
    {{/each}}

    <p>Add NEW SUBGOAL to '{{this.goal}}'?</p>
    <br>

    <table>
        <form id="subGoalsInputForm">
            <tr>
                <td>
                    User Id: <input id="userOwnerId" type="text" value="{{this.userId}}" readonly />
                </td>
                <td>
                    Owner Goal Id: <input id="ownerGoalId" type="text" value="{{this._id}}" readonly />
                </td>
            </tr>
            <tr>
                <td>
                    Sub Goal: <input id="subGoal" type="text" value="{{subGoal}}" />
                </td>
                <td>
                    Sub Goal Start Date: <input id="subGoalStart" type="date" value="{{subGoalStartDate}}" />
                </td>
                <td>
                    Sub Goal End Date: <input id="subGoalEnd" type="date" value="{{subGoalEndDate}}" />
                </td>
                <td>
                    Sub Goal Description: <input id="subGoalDescription" type="text" value="{{subGoalDescription}}" />
                </td>
                <td>
                    <input id="addSubGoal" type="button" value="Add Sub Goal to Main Goal" />
                </td>

            </tr>
        </form>
    </table>
    <br>
    <p>----- Ending SUBGOALS TEMPLATE for {{this._id}}-----</p>


</template>